<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
<header>
  <h1>ERP Admin</h1>
</header>
<% if (admin) { %>
  <% include ./partials/nav %>
<% } %>
<main>
  <%- body %>
</main>
</body>
</html>
